h1{
    font-family: 'Pirata One', cursive;;
    text-align:center;
    color:rgb(182, 139, 20);
    font-size: 50px;
    text-shadow: 3px 5px 5px rgb(109, 81, 4);
    letter-spacing: 3px;
}
.hey{
    width:30px;
    height:30px;
    background-image:url("https://thumbs.gfycat.com/ThunderousEmbellishedAuklet-size_restricted.gif)");
}
table{
    height:500px;
    width:500px;
    margin: 40px auto;
}
td{
    width:33%;
    height:33%;
    border:3px solid rgb(119, 58, 8);
    background-color: rgba(179, 204, 19, 0.3);
    text-align: center;
    font-family:'Pirata One', cursive;;
    font-size: 80px;
    font-style:bold;
    color:rgb(182, 139, 20);
}
td:hover{
    background-color: rgba(66, 130, 202, 0.6);
}
html{
    background-image:url(media/shipbackground.jpg);
    background-size: 100%;
}

/*lien pour le winner(https://thumbs.gfycat.com/ThunderousEmbellishedAuklet-size_restricted.gif)*/